body{
    margin: 0;
    padding: 0;
    background: #beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    background-color: #pink;
}

.container{
    margin: 2rem 0;
    width: 20rem;
    height: 33rem;
    background: #FF6699;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgb(0, 0, 0, 25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.screen_wrap{
    margin: 2rem 0 1rem 0;
    width: 18rem;
    height: 5rem;
    border-radius: 0.5rem;
    background: #e8e8e8;
    box-shadow: 6px 6px 12px #cfcfce, -6px -6px 12px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_container{
    width: 17rem;
    height: 4rem;
    border-radius: 0.25rem;
    background: #bbbfca ;
    box-shadow: inset 7px 7px 15px #9fa2ac, inset -7px -7px 15px #d7dce8;
    display: flex;
    flex-direction: column;
}

.history{
    padding: 4px 7px 0 0;
    width: 100%;
    height: 30%;
    font-size: 1rem;
    color: #ebe1e1;
    box-sizing: border-box;
    text-align: right;
    opacity: 0.5;
    overflow: hidden;
    white-space: nowrap;
}

.screen{
    padding-right: 7px;
    width: 10%;
    height: 70%;
    color: #596066;
    font-size: 2rem;
    box-sizing: border-box;
    text-align: right;
}

.btn_wrap{
    width: 20rem;
    height: 22rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: space-evenly;
    gap: 1rem;
}

.btn{ 
    all: unset;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.3rem;
    color: #f9f9fa;
    border-radius: 50%;
    background: purple;
    box-shadow: 5px 5px 10px #cfcfce, -5px -5px 10px #ffffff;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 0.1s ease;
}

.btn:nth-child(19){
    grid-column: span 2;
    width: 8rem;
    border-radius: 4rem;
}

.btn:nth-child(3),
.btn:nth-child(4),
.btn:nth-child(8),
.btn:nth-child(12),
.btn:nth-child(16){
    background: #757170 ;
}

.btn:nth-child(1),
.btn:nth-child(2),
.btn:nth-child(19){
    background: #c0c8d4;
}
